body{

    font-family: sans-serif;
}
#header, footer{
    background-color: #3384FF ;
    width: 100%;


}

button:hover{
    background-color: #A3A4A4;
}

.centered{
    text-align: center;
}



@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.wait-modal {
    display:    none;
    position:   fixed;
    z-index:    0;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-color: #A3A4A4;
    opacity: 0.5;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    z-index:    100;
}

